h1 {
    text-align: center;
}

p {
    text-align: center;
}

.momanddad {
    text-align: center;
}

.img1 {
    width: 49%;
    height: 50;
}

.img2 {
    width: 49%;
    height: 40%;
}